{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% block body %}
  
<div class="row">
    <div class="col-md-3">
      <div class="productul">

        <ul>
          <a  href="#shrug"><li class="productselectli">shrug</li></a>
          <a  href="#jeans"><li class="productselectli">jeans</li></a>
          <a  href="#blazor"><li class="productselectli">blazor</li></a>
          <a  href="#tshirt"><li class="productselectli">t-shirts</li></a>

      </ul>
      </div>
      

    </div>
    <div class="col-md-9">
      <span class="Productheading">T-Shirt</span>
      <hr class="productheadinghr"></hr>
      <div class="row">
        {%for i in tshirt|slice:"0:"%}
                      
                           
        <div id="tshirt" class="product  col-md-3 womens product_filter">
         <a  class="producthref" href="/menproductview/{{i.id}}">
          <div class="womenproduct_image mensproduct_image">
           <img  src="/media/{{i.image}}" alt="">
          </div>
         
         
         <div class="product_info">
           <h6 class="womenproduct_name"><a href="single.html">{{i.product_name}}</a></h6>
           <div class="product_price">{{i.price}} Rupees</div>
         </div>

       </a>

         <div id="divpr{{i.id}}" class="add-to-cartwomen addcartbutton divpr">
           <a class="cart"  id="pr{{i.id}}">add to cart</a>
         </div>  
       </div>
       <!-- <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div> -->
     
   
         {% endfor %} 
        </div>


         <span class="Productheading">jeans</span>
         <hr class="productheadinghr"></hr>
         <div class="row">
           {%for i in jeans|slice:"0:"%}
                         
                              
           <div class="product  col-md-3 womens product_filter" id="jeans">
            <a class="producthref" href="/menproductview/{{i.id}}">
             <div class="womenproduct_image mensproduct_image">
              <img src="/media/{{i.image}}" alt="">
             </div>
            
            
            <div class="product_info">
              <h6 class="womenproduct_name"><a href="single.html">{{i.product_name}}</a></h6>
              <div class="product_price">{{i.price}} Rupees</div>
            </div>
   
          </a>
   
            <div id="divpr{{i.id}}" class="add-to-cartwomen addcartbutton divpr">
              <a class="cart"  id="pr{{i.id}}">add to cart</a>
            </div>  
          </div>
          
        
      
            {% endfor %} 

          </div>

           
            <span class="Productheading">Shrug</span>
            <hr class="productheadinghr"></hr>
            <div class="row">
              {%for i in shrug|slice:"0:"%}
                            
                                 
              <div class="product  col-md-3 womens product_filter" id="shrug">
               <a class="producthref" href="/menproductview/{{i.id}}">
                <div class="womenproduct_image mensproduct_image">
                 <img src="/media/{{i.image}}" alt="">
                </div>
               
               
               <div class="product_info">
                 <h6 class="womenproduct_name"><a href="single.html">{{i.product_name}}</a></h6>
                 <div class="product_price">{{i.price}} Rupees</div>
               </div>
      
             </a>
      
               <div id="divpr{{i.id}}" class="add-to-cartwomen addcartbutton divpr">
                 <a class="cart"  id="pr{{i.id}}">add to cart</a>
               </div>  
             </div>
           
           
         
               {% endfor %} 

              </div>

      
               <span class="Productheading">blazor</span>
               <hr class="productheadinghr"></hr>
               <div class="row"> 
                 {%for i in blazor|slice:"0:"%}
                               
                                    
                 <div id="blazor" class="product  col-md-3 womens product_filter">
                  <a class="producthref" href="/menproductview/{{i.id}}">
                   <div class="womenproduct_image mensproduct_image">
                    <img src="/media/{{i.image}}" alt="">
                   </div>
                  
                  
                  <div class="product_info">
                    <h6 class="womenproduct_name"><a href="single.html">{{i.product_name}}</a></h6>
                    <div class="product_price">{{i.price}} Rupees</div>
                  </div>
         
                </a>
         
                  <div id="divpr{{i.id}}" class="add-to-cartwomen addcartbutton divpr">
                    <a class="cart"  id="pr{{i.id}}">add to cart</a>
                  </div>  
                </div>
               
              
            
                  {% endfor %} 
                </div>
   
    
    </div>
</div>

{% endblock %}